@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&family=Sawarabi+Mincho&display=swap');/* 共通書式 -S */
body {
  display: grid;
  place-items: center;
  width: 100%;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 110%;
  line-height: 1.5em;
  color: #404040;
  background: linear-gradient(135deg, #ffe0ea, #f7d0e2, #f3dce8);
  background-attachment: fixed;
  overflow-x: hidden;
}
h1 {
  display: block;
  margin: 30px 1em;
  padding: 10px;
  text-align: center;
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 200%;
  color: #eb9861;
  text-shadow:
  -1px -1px 0 #ddd,
   1px -1px 0 #ddd,
  -1px  1px 0 #ddd,
   1px  1px 0 #ddd;
  background: rgba(255, 255, 255, .5);
}
h1 span {
  font-size: 75%;
}
h2 {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  margin: 10px 1em;
}
section {
  padding: 10px 0;
}
/* p {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
} */
/* 共通書式 -E */

/* ヘッダー -S */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, #f379a8, #f0d7e5);
  position: fixed;
  top: 0;
  left: 0;
  line-height: 1.2em;
  align-items: center;
  z-index: 20;
}
header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 20px;
  background-image: url("../img/bkg/lace.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: auto 100%;
  pointer-events: none;
  z-index: 10;
}
header #headerTitle {
  display: flex;
  height: 70px;
  text-decoration: none;
  color: #502700;
  align-items: center;
  margin-left: 20px;
}
header #headerTitle div {
  display: block;
  width: 250px;
  height: 65px;
}
header #headerLogo {
  height: 60px;
}
header #headerSubTitle {
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  padding-top: 8px;
}
#headerSDL {
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  background: linear-gradient(to top, #f899b1, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  position: relative;
}
#headerSDL::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  text-shadow:
    -1px -1px 0 #ee538e,
     1px -1px 0 #c52d68,
    -1px  1px 0 #c52d68,
     1px  1px 0 #c52d68,
     0px   0px 5px rgba(0, 0, 0, 0.3); /* やわらかい影 */
  z-index: -1;
}
header #HBMenu {
  display: none;
}
header nav {
  align-items: center;
  position: relative;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
header nav ul li {
  padding: 5px 10px;
  text-align: center;
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 600;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
   -1px -1px 2px rgba(0, 0, 0, 0.4);
  padding: 0 .2em;
  font-size: 18px;
}
header a:hover {
  text-decoration-line: underline;
}
header #headerRight {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
header #sns {
  display: flex;
  flex-wrap: nowrap;
}
/* ヘッダー -E */

/* メイン -S */
main {
  margin-top: 70px;
}

/* フッター -S */
footer {
  background: #201208;
  width: 100%;
  font-family: sans-serif;
}
footer ul {
  display: flex;
  justify-content: center;
  margin-top: .5em;
}
footer ul li {
  margin: .5em;
}
footer a {
  color: #dfdfdf;
}
footer p {
  display: block;
  margin: .5em 1em;
  text-align: center;
  color: #dfdfdf;
  line-height: 1.2em;
  font-size: 80%;
}
/* #copyright {
  margin: 10px;
}
#copyright p {
  margin: auto;
  line-height: 1em;
  text-align: center;
  font-family: sans-serif;
} */
/* フッター -E */

/* クラス -S */
/* flexBox */
.flexBox {
  display: flex;
}

/* 中央寄せ */
.center {
  display: flex;
  justify-content: center;
}
/* 一覧表示お知らせエリア */
.infoListArea {
  display: block;
  background: white;
  margin: 0 50px;
  padding: 30px;
  border-radius: 10px;
  border: 2px #404040 double;
}
.infoListArea a {
  text-decoration: none;
}
.infoList {
  display: flex;
  border-bottom: 1px #404040 dashed;
  align-items: center;
  margin-top: 5px;
}
.infoList p {
  margin: 0 .5em;
  color: black;
  line-height: 1.8em;
}
.infoList .ILDate {
  width: 6em;
}
.infoList .ILCat{
  font-size: 90%;
  color: white;
  background-color: var(--box-color);
  border-radius: 3px;
  width: 5em;
  text-align: center;
}
.ILFlex {
  display: flex;
}

/* クラス -E */

/* トップページ */
/* .newInfoBox {
  display: block;
  background-color: #FFF;
  width: 85vw;
  max-width: 1600px;
  box-shadow: 8px 8px 20px rgba(0,0,0,.3);
  border-radius: 15px;
  margin: 12px auto;
}
.infoTitle {
  background: linear-gradient(to top, #fff1f8, #e7dfff);
  border-radius: 15px 15px 0 0;
  padding: 8px;
}
.infoTitle p {
  padding: 0 3px;
  font-style: italic;
  color: #666;
  vertical-align: middle;
  text-align: left;
}
 .infoTitle h2 {
  text-align: left;
  margin-left: .5em;
}/*/*
#topics {
  display: block;
  width: 100%;
  background: #defffd;
  padding-bottom: 20px;
}
#contact {
  display: block;
  width: 100%;
  background: #ffedf4;
  padding-bottom: 20px;
}
#contact p {
  text-align: center;
  font-size: 115%;
}

/* SNSアイコン書式 */
.snsIco {
  width: 50px;
  margin: 0 5px;
}

.eyeCatch {
  display: flex;
  width: 100%;
  align-items: center;
}
.eyeCatchImg {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.eyeCatchImg::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(242, 234, 255);
}
.eyeCatchImgRight {
  position: relative;
  display: flex;
  order: 1;
  width: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.eyeCatchImgRight::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 15px 15px rgb(242, 234, 255);
}
.eyeCatchImg img {
  width: 100%;
}
.eyeCatchSentence {
  width: 50%;
}
.eyeCatch h2 {
  font-size: clamp(24px, 3.2vw, 45px);
}
.eyeCatch p {
  width: 80%;
  margin: 1em auto;
  font-size: clamp(18px, 1.7vw, 30px);
  line-height: 1.4em;
}
#sarorin div {
  display: block;
  width: 40vw;
  margin: 20px 0 0 auto;
}
#sarorin img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
#sarorin p {
  text-align: center;
  font-size: 90%;
}

/* ID -E */

/* レスポンシブ対応：画面幅900px以下の場合（スマホ想定） */
@media screen and (max-width: 900px) {
  /* 共通書式 */
  body {
    font-size: 100%;

  }
  h1 {
    font-size: 130%;
    margin: 15px 1em;
  }
  h2 {
    font-size: 150%;
  }

  /* ヘッダー */
  header {
    display: flex;
    padding: 0 .5em;
    justify-content: center;
  }
  header #headerLogo {
    margin: auto;
    font-size: 100%;
  }
  header #HBMenu {
    display: block;
    margin-left: auto;
    height: 70px;
  }
  header #headerRight {
    display: none;
  }

  /* トップページ */
  .infoList {
    display: block;
  }
  .infoListArea {
    margin: 0 20px;
  }
  #sarorin div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* メイン */
  main {
    margin-top: 40px;
  }
  .eyeCatch {
    display: block;
  }
  .eyeCatch div {
    width: 100%;
  }

  /* フッター */
  footer p {
    font-size: 75%;
  }
}
